.patient-dashboard{
  display:flex;
  height:100vh;
  background: transparent;
  font-family: "Poiret One", sans-serif;
}

/* SIDEBAR */
.history-sidebar{
  width:280px;
  background: rgba(2,6,23,0.7);
  backdrop-filter: blur(20px);
  padding:2rem;
  display:flex;
  flex-direction:column;
  gap:1rem;
  border-right:1px solid rgba(255,255,255,0.1);
  position: relative;
}

/* GLASS LOGOUT BUTTON */
.logout-btn{
  position:absolute;
  top:1rem;
  right:1rem;

  padding:6px 12px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);

  border:1px solid rgba(255,255,255,0.15);
  border-radius:12px;

  color:white;
  cursor:pointer;
}

.logout-btn:hover{
  background: rgba(255,255,255,0.1);
}

/* PATIENT INFO */
.patient-info-box{
  font-size:25px;
  text-align:left;
  margin:20px 0;
}

.patient-info-box h2{
  font-size:40px;
  
}

.sidebar-title{
  font-size:25px;
  color:#94a3b8;
}

/* HISTORY ITEMS */
.history-item{
  padding:12px;
  border-radius:10px;
  background: rgba(255,255,255,0.05);
  cursor:pointer;
}

.history-item:hover{
  background: rgba(255,255,255,0.1);
}

.history-item.active{
  background: rgba(59,130,246,0.2);
}

/* RIGHT SIDE */
.history-details{
  flex:1;
  padding:2rem;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
}

/* GLASS PANEL */
.glass-panel{
  background: rgba(15,23,42,0.6);
  backdrop-filter: blur(16px);
  border-radius:20px;
  padding:20px;
  border:1px solid rgba(255,255,255,0.1);
}

/* AUDIO BUTTON */
.glass-btn{
  font-size:20px;
  font-family: "Poiret One", sans-serif;
  padding:10px 20px;
  border-radius:12px;

  background: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.2);

  color:white;
  cursor:pointer;
}

.glass-btn:hover{
  background: rgba(255,255,255,0.1);
}

/* PRESCRIPTION LIST */
.glass-panel p
{
  font-size:20px;
}
.prescription-list{
  font-size:20px;
  list-style:none;
  padding:0;
}

.prescription-list li{
  font-size:20px;
  padding:10px;
  margin-bottom:10px;
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.prescription-list span{
  font-size:20px;
  color:#94a3b8;
}

/* TEXT */
.diagnosis{
  font-size:22px;
  font-weight:bold;
}